<h1>Get data</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'get_data' %}" method="post">
    {% csrf_token %}
    {% for web in web_list %}
        <input type="radio" name="web" id="web{{ forloop.counter }}" value="{{ web.webpage_url }}">
        <label for="web{{ forloop.counter }}">{{ web.web_text }}</label><br>
    {% endfor %}</br>
    insert number of article (1-50):</br><input type="number" name="num" min="1" max="50">
    <input type="submit" value="enter">
</form>

<center>
<form action="{% url 'search_data' %}" method="get">
    Search article :&nbsp;<input type="text" name="article" {% if atricle_text %}value={{ atricle_text }}{% endif %} >&nbsp;
    Webpage :&nbsp;
    <select name="selectweb">
        <option value="all">all</option> 
        {% for web in web_list %}
            <option value="{{web.web_text}}" {% if selected_web == web.web_text %}selected{% endif %}>{{ web.web_text }}</option>
        {% endfor %}
    </select>
    <input type="submit" value="search">
</form>

{% if article_list %}
    <style>
    table, th ,td{border:1px solid black; border-collapse: collapse;}
    th{text-align: center;}
    </style>
    <table width="90%">
  
    <tr><th>Article</th><th>Link</th><th>Tags</th><th>Webpage</th></tr>
    {% for article in article_list %}
        <tr><td>{{ article.article_text }}</td>
        <td><a href={{ article.article_url }}>&nbsp;link&nbsp;</a></td>
        <td>{% for tag in article.tag.all %}
        {{ tag }}&nbsp;
        {% endfor %}</td>
        <td>{{ article.Webpage}}</td></tr>
    {% endfor %}
    </table>
</center>  
{% else %}
    no results.
{% endif %}


