<h1>Get data</h1>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<form action="{% url 'get_data' %}" method="post">
{% csrf_token %}
insert number of article :</br><input type="number" name="num">
<input type="submit" value="enter">
</form>


{% if data %}
<h3>result for {{number}}</h3></br>
<center>
<style>
 table, th ,td{border:1px solid black; border-collapse: collapse;}
</style>
<table width="90%">
    {% for key, value in data.items %}
        <tr><td>{{key}}</d><td>{{value.title}}</td><td>{{value.url_link}}</td><td>{{value.tags}}</td></tr>
    {% endfor %}
</table>
</center>  
{% endif %}

